<% include ./partials/header %>
<h1>Profile</h1>
<div class="dashboard">
<div class="dashboardItem">Name:<%= user.firstName %> <%= user.lastName %></div>
<div class="dashboardItem">email:<%= user.email %></div>
<div class="dashboardItem">Polls:</div>

<% Polls.forEach(poll=>{ %>
<div class="dashboardItem"><a href="/polls/<%= poll._id %>"><%= poll.question %></a></div>

<% })%>
</div>
<% include ./partials/footer %>
